* {
  text-decoration: none;
  color: black;
}

main {
  width: 20%;
  margin: 1%;
}

span {
  color: white;
  background-color: yellow;
  padding: 2px;
}

ul {
  list-style: none;
}

.links {
  cursor: pointer;
  text-align: left;
  text-transform: uppercase;
  font-size: small;
  letter-spacing: -1px;
  padding: 0.5%;
  width: 50%;
  margin-top: 2%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.253), inset 0px 0px 0px 1px #ffffffff;
  border-left: 10px solid rgb(0, 2, 128);
}

.links:hover,
.links:active,
.links a:hover,
.links a:active {
  margin-left: 1.5%;
  box-shadow: none;
  transition: all ease-in-out 250ms;
  color: rgb(0, 2, 128);
}
