* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}


.main {
  background-image: linear-gradient(
    335deg,
    rgba(238, 228, 238, 0.664),
    rgba(250, 235, 238, 0.589),
    rgba(181, 181, 206, 0.596)
  );

  width: 100%;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
}

.container {
  padding: 10px;
  width: 40%;
  justify-content: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(75, 0, 71, 0.425),
  inset 1px 1px 10px 1px rgba(0, 0, 0, 0.226);
  background-color: rgb(0, 91, 175);
}

.container_hour,
.container_date {
  width: 100%;
  text-align: center;
  color: whitesmoke;
}

.container_hour {
  padding: 10px;
  font-size: 300%;
}

.container_date {
  padding: 1px;
  font-size: 100%;
}

.container p {
    color:rgb(218, 197, 221);
    letter-spacing: 2px;
    font-size: 10px;
    
}


.live {
  justify-content: start;
  align-items:normal;
  font-size: x-small;
}

.cont-live {
  border-radius: 0;
  width: 100%;
}

.hsliv,
.feliv {
  padding: 0;
}


@media screen and (max-width: 800px) {
    .container {
        width: 100%;
    }
    
}


@media screen and (max-width: 800px) {
    .container_date {
        font-size: x-small;
    }
    .container_hour {
        font-size:larger;
    }
    
}
